{% extends "_layouts/default" %}

{% block content %}
  
  <nav class='container mt-3 mb-4 bb-6'>
    {% nav child in category.parent.children %}    
      {% if craft.request.url != child.url %}
        <a href='{{ child.url }}' class='t-1 cg-3 tw-light px-2 py-2'>{{ child.title }}</a>
      {% else %}
        <a class='t-1 c-black tw-light px-2 py-2 bb-thick-black'>{{ child.title }}</a>
      {% endif %}
    {% endnav %}
  </nav> 


  <section class="container">
    {% for entry in craft.entries.relatedTo(category) %}
      <a href="{{ entry.url }}" class="d-block px-2">
        <h1 class="t-3 tw-light py-2">{{ entry.title }}</h1>
      </a>
    {% endfor %}
  </section>

{% endblock %}
