{{ content_builder }}
  <div class="{{ class }}">

    {{ if type == 'markdown' }}
      <section class="row markdown mt-10 mb-8">
        <div class="col-8 push-2">
          {{ md_content | markdown }}
        </div>
      </section>
    {{ /if }}

    {{ if type == 'html' }}
      <section class="mb-8">
        <div class="row mb-4">
          <div class="col-10 push-1">
            {{ html }}
          </div>
        </div>
        <div class="row">
          <div class="col-10 push-1 pl-4">
            <a href="#" class="tn-1 bb cg-1">View Source</a>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-8 push-2 markdown">
            <pre>
              <code>
              {{ html | sanitize }}
              </code>
            </pre>
          </div>
        </div> -->
      </section>
    {{ /if }}
  </div>
{{ /content_builder }}