<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="designer" content="Octopus">
  <meta name="developer" content="Octopus">
  <meta name="description" content="{{ site_description }}">

  <meta property="og:url" content="{{ path src='/' }}" />
  <meta property="og:url" content="{{ path src='/' }}" />
  <meta property="og:title" content="{{ site:name }}" />
  <meta property="og:description" content="{{ site_description }}" />
  <meta property="og:image" content="{{ path src='{ og_image|url }' }}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ path src='/' }}">
  <meta name="twitter:title" content="{{ site:name }}">
  <meta name="twitter:description" content="{{ site_description }}">
  <meta name="twitter:image" content="{{ path src='{ twitter_image|url }' }}">


  <title>{{ if segment_1 }} {{ if response_code == 404 }}Page Not Found{{ else }}{{ title }}{{ /if }} | {{ site:name }} {{ else }} {{ site:name }} {{ endif }}</title>

  <link rel="shortcut icon" href="{{ path src='assets/favicon.ico' }}">
  <link rel="stylesheet" href="{{ theme:css }}">

</head>

<body>

  <aside class="fixed-top-left h-100">
    <div class="h-100 relative bl-thick-7">
      <div class="brand px-5 py-7">
        <a href="/"><img src="/assets/octopus-brand.svg" /></a>
      </div>

      <nav class="py-7" style="margin-left: -2px;">
        {{ nav from="/" include_home="true" }}
          <a href="{{ url }}" class="d-block tn-1 tw-medium py-1 pl-5 pr-10 {{ if !is_current }}cg-5{{ else }}cg-black bl-thick-primary{{ /if }}">{{ title }}</a>

          {{ if is_current && segment_1 }}
            <ul class="pl-1">
              {{ pages }}
                {{ if url != current_uri }}
                <li>
                  <a href="#{{ slug }}" class="cg-1 tn-1">{{ title }}</a>
                </li>
                {{ /if }}
              {{ /pages }}
            </ul>
          {{ /if }}

        {{ /nav }}
      </nav>

      <nav class="absolute-bottom-left w-100 px-5 py-7">
        <a href="https://github.com/octopuscreative" class="display tn-2 cg-3 pb-1 bb hover-outline-target">Github</a>
      </nav>
    </div>
  </aside>

  <main class="pl-16">
    <div class="container pr-10 mb-10">

      <header>
        <form class="pl-5" action="/search-results" method="GET">
          <input type="text" name="q" class="rounded b-7 p-1 tn-1" />
          <button></button>
        </form>
        {{ template_content }}
      </header>
    </div>
  </main>


  <script src="{{ theme:js }}"></script>

  <script src="https://use.typekit.net/pqk2zdt.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  {{ if google_analytics_id }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ google_analytics_id }}', 'auto');
      ga('send', 'pageview');

    </script>
  {{ /if }}

  {{ if typekit_id }}
    <script src="https://use.typekit.net/{{ typekit_id }}.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  {{ /if }}

</body>
</html>
