<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />

  {# Styles. #}
  {% includeCssFile '/css/main.css' %}

</head>

<body class="cbgg-8">

  <header class="cbg-black">

    <nav>
      <div class="container py-2 px-2">
        <a href="{{ siteUrl }}">
          <div class="brand pt-1">
            <img src="/assets/octopus-brand.svg" />
          </div>
        </a>
        {# <h1 class="px-2"><a href="{{ siteUrl }}" class="c-black">Playbook</a> <span class="tn-1 tw-light cg-4">&nbsp;by <a href="http://octop.us" class="cg-4 tw-light">Octopus</a></span></h1> #}
      </div>
    </nav>

    <nav class="bb-7" style="white-space: nowrap; overflow: auto;">
      <div class="container py-1 px-1">
        <div class="flex">
          {% nav category in craft.categories.group('topics').level(1) %}
            {% if category.descendants.first %}
              {% if craft.request.firstSegment == category.slug or not craft.request.firstSegment %}
                <a href="{{ category.descendants.first.url }}" class="tw-book d-inline-block px-1 py-2 c-white">{{ category.title }}</a>
              {% else %}
                <a href="{{ category.descendants.first.url }}" class="tw-book d-inline-block px-1 py-2 cg-4">{{ category.title }}</a>
              {% endif %}
            {% endif %}
          {% endnav %}
          <div class="item-right">
          <a href="#" class="relative c-white pl-3 pr-1 py-2 ml-2"><span class="t-1 absolute-left-middle ion-ios-search-strong"></span>Search</a>
          </div>
        </div>
      </div>
    </nav>

  </header>

  {% if craft.request.firstSegment %}
    <nav class="mb-5 cbgg-7">
      <div class="container px-1">
        {% set linkClasses = 'px-1 py-2' %}
        {% nav child in craft.categories.slug(craft.request.firstSegment)[0].children %}
          {% if craft.request.segments[1] != child.slug %}
            <a href="{{ child.url }}" class="cg-3 {{ linkClasses }}">{{ child.title }}</a>
          {% else %}
            <a class="c-black {{ linkClasses }}">{{ child.title }}</a>
          {% endif %}
        {% endnav %}
      </div>
    </nav>
  {% endif %}


  <main>
    {% block content %}
      <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
      <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
    {% endblock %}
  </main>

  <footer class="absolute-bottom-left wp-100 py-3">
    <div class="container">
      <p class="tn-2 cg-4">Version 0.x <span class="mx-1">|</span> <a href="//github.com/octopuscreative/playbook" class="cg-3">Source on Github</a></p>
    </footer>
  </footer>

  {% if currentUser %}
    <footer class="fixed-bottom-right px-3 py-3">
      <nav>
        <a href="/admin/entries/docs/new" id="newPost" class="c-black hover-scale-target shadow"><span class="t-5 ion-plus-circled"></span></a>
      </nav>
      {# {% for section in craft.sections.getAllSections()  %}
        <a href="/admin/entries/{{ section.handle }}/new" id="newPost" class="py-1 px-3 cbgg-6 rounded">New {{ section.name }}</a>
      {% endfor %} #}
    </footer>
  {% endif %}

  {% includeJsFile "/js/main.js" %}
  {% includeJs "require('source/coffee/initialize');" %}

</body>
</html>
