<article class="pr-10 mb-10">
  <div class="container">
    <header class="mb-12">
      <div class="row">
        <div class="col-8 push-2 px-4">
          <h1 class="d-inline-block t-6 tw-medium mb-10">{{ title }}</h1>
          <h2 class="t-2 mb-4 cg-4">{{ punch_line }}</h2>

          <div class="col-2 bb-thick"></div>
        </div>
      </div>
    </header>

    <!-- Parent page content. -->
    {{ partial:content-builder class="mb-10" }}

  </div>
</article>


<!-- Table of Contents -->
<!-- {{ nav url='{ url }' }}
  {{ if index == 1}}
  <section class="container pr-10 mb-10">
    <div class="row mb-6">
      <div class="push-2 px-4">
        <h2 class="t-4 tw-medium">Table of Contents</h2>
      </div>
    </div>
    <div class="row">
        <nav class="col-8 push-2 px-4">
    {{ /if }}
          <h3 class="t-1 mb-1">{{ order }}. <a href="#{{ slug }}">{{ title }}</a></h3>
    {{ if last }}
        </nav>
    </div>
  </section>
  {{ /if }}
{{ /nav }} -->

{{ pages url='{ url }' }}
  {{ if url != current_uri && segment_1 }}
  <article id="{{ slug }}" class="pr-10 mb-8">
    <div class="container">
      <header class="row mb-4">
        <div class="col-8 push-2">
          <h3 class="t-4 px-4 tw-medium">{{ title }}</h3>
        </div>
      </header>
      {{ partial:content-builder }}
    </div>
  </article>
  {{ /if }}
{{ /pages }}

<footer class="container">
  <div class="col-2 push-2 px-1">
    <p class="display tn-3 cg-4 mb-1">Updated</p>
    <p class="tn-1 cg-1">{{ last_modified format="F j, Y" }}</p>
  </div>
  {{ if contributors }}
    <div class="col-4 px-1">
      <p class="display tn-3 cg-4 mb-1">Contributers</p>
      {{ relate:contributors }}
        <p class="tn-1 cg-1">{{ first_name }} {{ last_name }}</p>
      {{ /relate:contributors }}
    </div>
  {{ /if }}
</footer>
