<article class="pr-10">
  <header class="mb-8">
    <div class="row">
      <div class="col-8 push-2 px-4">
        <h1 class="d-inline-block display t-7 tw-bold mb-5">{{ title }}</h1>
        {{ if punch_line }}
          <h2 class="t-2 mb-10 cg-4">{{ punch_line }}</h2>
        {{ /if }}
      </div>
    </div>
  </header>

  <!-- Parent page content. -->
  {{ partial:content-builder class="mb-10" }}

</article>

{{ pages url='{ url }' }}
  {{ if url != current_uri && segment_1 }}
  <article id="{{ slug }}" class="pr-10 pt-8">
    <div class="container">
      <header class="row mb-4">
        <div class="col-8 push-2 px-4">
          <h3 class="t-4 tw-bold">{{ title }}</h3>
        </div>
      </header>
      {{ partial:content-builder }}
    </div>
  </article>
  {{ /if }}
{{ /pages }}

<footer class="container pt-14">
  <div class="col-2 push-2 px-4">
    <p class="tn-2 cg-4 mb-1">Updated</p>
    <p class=" cg-1">{{ last_modified format="F j, Y" }}</p>
  </div>
  {{ if contributors }}
    <div class="col-4 px-1">
      <p class="tn-2 cg-4 mb-1">Contributers</p>
      {{ relate:contributors }}
        <p class=" cg-1">{{ first_name }} {{ last_name }}</p>
      {{ /relate:contributors }}
    </div>
  {{ /if }}
</footer>
